buoi_04_NguyenThanhDoi/DSSV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Kiểu dùng chung -->
    <xs:simpleType name="maType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Kiểu số điện thoại -->
    <xs:simpleType name="sdtType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Kiểu tên khoa: chỉ chứa ký tự a-z -->
    <xs:simpleType name="tenKhoaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]+"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Root -->
    <xs:element name="DSSV">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KHOA" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MA" type="maType"/>
                            <xs:element name="TEN" type="tenKhoaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="LOP" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MA" type="maType"/>
                            <xs:element name="TEN" type="tenType"/>
                            <xs:element name="MAKHOA" type="maType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="SINHVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSSV" type="maType"/>
                            <xs:element name="HOTEN" type="tenType"/>
                            <xs:element name="EMAIL" type="xs:string"/>
                            <xs:element name="DIACHI" type="xs:string"/>
                            <xs:element name="SDT" type="sdtType"/>
                            <xs:element name="MALOP" type="maType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Enrollment -->
                <xs:element name="enrollment" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="studentRef" type="maType"/>
                            <xs:element name="course" type="tenType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="KhoaKey">
            <xs:selector xpath="KHOA"/>
            <xs:field xpath="MA"/>
        </xs:key>
        <xs:key name="LopKey">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="MA"/>
        </xs:key>
        <xs:key name="SinhVienKey">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="MSSV"/>
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="Lop_Khoa_FK" refer="KhoaKey">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="MAKHOA"/>
        </xs:keyref>

        <xs:keyref name="SV_Lop_FK" refer="LopKey">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="MALOP"/>
        </xs:keyref>

        <xs:keyref name="Enroll_SV_FK" refer="SinhVienKey">
            <xs:selector xpath="enrollment"/>
            <xs:field xpath="studentRef"/>
        </xs:keyref>

    </xs:element>
</xs:schema>
