buoi_04_NguyenThanhDoi/QUANAN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/quanan"
           xmlns="http://example.com/quanan"
           elementFormDefault="qualified">

    <!-- ================== KIỂU DÙNG CHUNG ================== -->
    <xs:simpleType name="maType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Số điện thoại (10 số, bắt đầu bằng 0) -->
    <xs:simpleType name="sdtType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Username (6–50 ký tự) -->
    <xs:simpleType name="usernameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Password (10–50 ký tự) -->
    <xs:simpleType name="passwordType">
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================== ROOT ================== -->
    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>
                <!-- Bảng -->
                <xs:element name="BAN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOBAN" type="xs:integer"/>
                            <xs:element name="TENBAN" type="tenType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Nhân viên -->
                <xs:element name="NHANVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MANV" type="maType"/>
                            <xs:element name="TENVN" type="tenType"/>
                            <xs:element name="SDT" type="sdtType"/>
                            <xs:element name="DIACHI" type="xs:string"/>
                            <xs:element name="GIOITINH" type="xs:string"/>
                            <xs:element name="USERNAME" type="usernameType"/>
                            <xs:element name="PASSWORD" type="passwordType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Món -->
                <xs:element name="MON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MAMON" type="maType"/>
                            <xs:element name="TENMON" type="tenType"/>
                            <xs:element name="GIA" type="xs:float"/>
                            <xs:element name="HINHANH" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Hóa đơn -->
                <xs:element name="HOADON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOHD" type="maType"/>
                            <xs:element name="NGAYLAP" type="xs:date"/>
                            <xs:element name="TONGTIEN" type="xs:float"/>
                            <xs:element name="SOBAN" type="xs:integer"/>
                            <xs:element name="MANV" type="maType"/>

                            <!-- Chi tiết hóa đơn -->
                            <xs:element name="CTHD" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MAMON" type="maType"/>
                                        <xs:element name="SOLUONG" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- ================== KHÓA CHÍNH ================== -->
        <xs:key name="BanKey">
            <xs:selector xpath="BAN"/>
            <xs:field xpath="SOBAN"/>
        </xs:key>

        <xs:key name="NhanVienKey">
            <xs:selector xpath="NHANVIEN"/>
            <xs:field xpath="MANV"/>
        </xs:key>

        <xs:key name="MonKey">
            <xs:selector xpath="MON"/>
            <xs:field xpath="MAMON"/>
        </xs:key>

        <xs:key name="HoaDonKey">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="SOHD"/>
        </xs:key>

        <!-- ================== KHÓA NGOẠI ================== -->
        <!-- HOADON.SOBAN -> BAN.SOBAN -->
        <xs:keyref name="HoaDon_Ban_FK" refer="BanKey">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="SOBAN"/>
        </xs:keyref>

        <!-- HOADON.MANV -> NHANVIEN.MANV -->
        <xs:keyref name="HoaDon_NhanVien_FK" refer="NhanVienKey">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="MANV"/>
        </xs:keyref>

        <!-- CTHD.MAMON -> MON.MAMON -->
        <xs:keyref name="CTHD_Mon_FK" refer="MonKey">
            <xs:selector xpath="HOADON/CTHD"/>
            <xs:field xpath="MAMON"/>
        </xs:keyref>

    </xs:element>
</xs:schema>
